[submodule "Modules/MCVersion"]
	path = Modules/MCVersion
	url = https://github.com/TryHardDood/MCVersion
[submodule "Modules/BossBarAPI"]
	path = Modules/BossBarAPI
	url = https://github.com/InventivetalentDev/BossBarAPI
[submodule "Modules/ParticleAPI"]
	path = Modules/ParticleAPI
	url = https://github.com/InventivetalentDev/ParticleAPI
[submodule "Modules/ReflectionHelper"]
	path = Modules/ReflectionHelper
	url = https://github.com/InventivetalentDev/ReflectionHelper/
